---
import Layout from "../layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Paragraph from "@/sections/Paragraph.astro";
---

<Layout title="Ivan Villa">
  <main class="">
    <Hero />
    <Paragraph />
    <div class="h-[100vh]"></div>
  </main>
</Layout>
